<div class="container margin_60_35">
    <div class="row" id="contacts">
        <div class="col-md-6 col-sm-6 wow slideInLeft">
            <div class="box_style_2">
                <h2 class="inner">Zamówienia</h2>
                <p class="add_bottom_30">
                    Odbieramy zamówienia <strong> o jednodniowym wyprzedzeniu.</strong>
                    Nasza załoga przygotowuje z posiłki z najwyższą starannością, tak aby Tobie smakowały. Z chęcią odpowiemy na każde pytanie.
                    Zadzwoń do nas lub wyślij maila!
                </p>
                <p><a href="tel://0048526432431" class="phone"><i class="icon-phone-circled"></i>  +48 526 432 431</a></p>
                <p class="nopadding"><a href="mailto:zamowienia@fitruna.pl"><i class="icon-mail-3"></i> zamowienia@fitruna.pl</a></p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 wow slideInRight">
            <div class="box_style_2">
                <h2 class="inner">Dostawa
                </h2>
                <p class="add_bottom_30">
                    Dostawy realizujemy <strong>od poniedziałku do piątku</strong> <strong> od 01:00 do 07:00.</strong>
                    Nasi dostawcy dokonują wszelkich starań, aby Twoje jedzenie było zawsze świeże i na czas.
                    W razie pytań, prosimy o telefon lub email.</p>
                <p><a href="tel://0048432345321" class="phone"><i class="icon-phone-circled"></i>  +48 432 345 321</a></p>
                <p class="nopadding"><a href="mailto:wspolpraca@quickfood.com"><i class="icon-mail-3"></i> dostawa@fitruna.pl</a></p>
            </div>
        </div>
    </div>
</div>

