<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a routerLink="/"
                   routerLinkActive="active"
                   id="logo">
                    <img
                            src="../../../assets/img/logos/Fitruna%205a.png"
                            height="38"
                            alt=""
                            data-retina="true"
                            class="hidden-xs"
                    />
                    <img
                            src="../../../assets/img/logos/Fitruna%205a.png"
                            height="38"
                            alt=""
                            data-retina="true"
                            class="hidden-lg hidden-md hidden-sm"
                    />
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <a
                        class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
                        href="javascript:void(0);">
                    <span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img
                                src="../../../assets/img/logos/Fitruna%205a.png"
                                height="38"
                                alt=""
                                data-retina="true"
                        />
                    </div>
                    <a href="#" class="open_close" id="close_in">
                        <i class="icon_close"></i>
                    </a>
                    <ul>
                        <li>
                            <a class="home_header_button icon-contacts"
                               (click)="scroll(contactSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">
                                Kontakt
                            </a>
                        </li>
                        <li>
                            <a
                                class="home_header_button icon-map"
                                (click)="scroll(mapSectionId)"
                                href="javascript:void(0);"
                                style="cursor: pointer;">
                                Mapa dowozu
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-food"
                               (click)="scroll(dietsSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">
                                Diety
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-person"
                               (click)="scroll(aboutSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">O Nas</a>
                        </li>
                        <li>
                            <header-user-menu></header-user-menu>
                        </li>
                        <li>
                            <button routerLink="/items"
                                    routerLinkActive="active"
                                    queryParamsHandling="preserve"
                                    class="btn_full_outline icon-basket">
                                Zamów
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
