<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-2 col-sm-2 col-xs-2">
                <a routerLink="/"
                   routerLinkActive="active"
                   id="logo">
                    <img
                            src="../../../assets/img/logos/Fitruna5a.png"
                            height="34"
                            alt=""
                            data-retina="true"
                            class="hidden-xs hidden-lg hidden-md hidden-sm"
                    />
                </a>
            </div>
            <nav class="col--md-10 col-sm-10 col-xs-10">
                <a
                        class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
                        href="javascript:void(0);">
                    <span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img
                                src="../../../assets/img/logos/Fitruna5a.png"
                                height="32"
                                alt=""
                                data-retina="true"
                        />
                    </div>
                    <a href="#" class="open_close" id="close_in" #closeMobile>
                        <i class="fas fa-times"></i>
                    </a>
                    <ul>
                        <li>
                            <div>
                                <a href="tel://0048432345321" class="phone">
                                    <i class="icon-phone-circled float-left"></i>  +48 432 345 321
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="home_header_button icon-food"
                               (click)="closeMobile.click();scroll(dietsSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">
                                Diety
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-person"
                               (click)="closeMobile.click();scroll(aboutSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">O Nas</a>
                        </li>
                        <li>
                            <a
                                class="home_header_button icon-map"
                                (click)="closeMobile.click();scroll(mapSectionId)"
                                href="javascript:void(0);"
                                style="cursor: pointer;">
                                Mapa dowozu
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-info"
                               (click)="closeMobile.click();scroll(faqSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-contacts"
                               (click)="closeMobile.click();scroll(contactSectionId)"
                               href="javascript:void(0);"
                               style="cursor: pointer;">
                                Kontakt
                            </a>
                        </li>
                        <li>
                            <header-user-menu></header-user-menu>
                        </li>
                        <li>
                            <button routerLink="/items"
                                    routerLinkActive="active"
                                    queryParamsHandling="preserve"
                                    class="btn_full_outline icon-basket">
                                Zamów
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
