<form
  class="form-horizontal"
  autocomplete="off"
  #createProductForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Dodaj' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productName">
                {{ 'Nazwa' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="text"
                        class="form-control"
                        name="productName"
                        id="productName"
                        minlength="2"
                        required
                        [(ngModel)]="product.name"
                        #productNameModel="ngModel"
                        #productNameEl
                />
                <abp-validation-summary
                        [control]="productNameModel"
                        [controlEl]="productNameEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productDescription">
                {{ 'Opis' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="text"
                        class="form-control"
                        name="productDescription"
                        id="productDescription"
                        minlength="2"
                        required
                        [(ngModel)]="product.description"
                        #productDescriptionModel="ngModel"
                        #productDescriptionEl
                />
                <abp-validation-summary
                        [control]="productDescriptionModel"
                        [controlEl]="productDescriptionEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productPriceNet">
                {{ 'Cena netto' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="number"
                        class="form-control"
                        name="productPriceNet"
                        id="productPriceNet"
                        required
                        [(ngModel)]="product.priceNet"
                        #productPriceNetModel="ngModel"
                        #productPriceNetEl
                />
                <abp-validation-summary
                        [control]="productPriceNetModel"
                        [controlEl]="productPriceNetEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tax">
                {{ 'Podatek VAT' | localize }}
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="legacy"
                                style="width: 100%"
                                required
                >
                    <mat-label>Podatek VAT</mat-label>
                    <mat-select
                            class="form-control"
                            id="tax"
                            required
                            [(value)]="product.taxId"
                    >
                        <mat-option [value]="tax.id"
                                    *ngFor="let tax of this.itemsService.taxes$ | async"
                        >{{tax.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createProductForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
