

<div>
    <a class="home_header_button icon-login"
       *ngIf="currentUserId === null"
       [routerLink]="['/account/login']"
    >
        Panel Klienta
    </a>
    <a class="home_header_button icon-login dropdown-toggle"
       type="button"
       id="dropdownMenuButton"
       data-toggle="dropdown"
       aria-haspopup="true"
       href="javascript:;"
       *ngIf="currentUserId !== null"
       >
        Panel Klienta
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/account/update-password']">
            <i class="fas fa-user-edit"></i> {{ 'Zmień hasło' | localize }}
        </a>
        <a class="dropdown-item" href="javascript:;" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> {{ 'Wyloguj' | localize }}
        </a>
    </div>
</div>
