<div class="container margin_60">
    <div class="main_title wow slideInUp">
        <h2 class="nomargin_top" style="padding-top: 0;">
            {{header.title}}
        </h2>
        <p>
            {{header.description}}
        </p>
    </div>
    <div class="row">
        <div class="col-md-3 wow fadeInDown" data-wow-delay="{{badge.fadeIn}}" *ngFor="let badge of badges">
            <div class="box_home" id="{{badge.id}}">
                <span>{{badge.count}}</span>
                <h3>{{badge.name}}</h3>
                <p>
                    {{badge.description}}
                </p>
            </div>
        </div>
    </div>
</div>
