<button class="btn btn-add-item" (click)="addItem($event)">
    <i class="fa fa-plus"></i>
    Nowa pozycja
</button>
<table class="table grid-table">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            Zestaw
        </th>
        <th>
            Okres
        </th>
        <th>
            Kaloryczność
        </th>
        <th>
            Dieta w weekendy
        </th>
        <th>
            Sztućce
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows; let idx = index">
        <td>
            <span class="delete-item" (click)="deleteItem(idx)">
                <i class="material-icons">delete_forever</i>
            </span>
        </td>
        <td>
            {{row.count}}x {{itemsService.getProduct(row.productId)?.name}}
        </td>
        <td>
            <order-calendar [orderBasketItem]="row"></order-calendar>
        </td>
        <td>
            {{ itemsService.getCalory(row.caloriesId)?.value }} kcal
        </td>
        <td>
            {{ row.weekendsIncluded ? 'Tak': 'Nie' }}
        </td>
        <td>
            {{ row.cutleryFeeId == 0 ? 'Nie' : 'Tak' }}
        </td>
    </tr>
    </tbody>
</table>
