<button class="btn btn-add-item" (click)="addItem($event)">
    <i class="fa fa-plus"></i>
    Nowa pozycja
</button>
<table class="table grid-table">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            Zestaw
        </th>
        <th>
            Ilość
        </th>
        <th>
            Okres
        </th>
        <th>
            Kaloryczność
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows; let idx = index">
        <td>
            <span class="delete-item" (click)="deleteItem(idx)">
                <i class="material-icons">delete_forever</i>
            </span>
        </td>
        <td>
            {{itemsService.getProduct(row.productId)?.name}}
        </td>
        <td>
            {{row.count}}x
        </td>
        <td>
            {{row.deliveryTimes.join(', ')}}
        </td>
        <td>
            {{ itemsService.getCalory(row.caloriesId)?.value }} kcal
        </td>
    </tr>
    </tbody>
</table>
