<order-header-section [activeCounter]='currentOrder'>

</order-header-section>

<div class="container margin_60_35">
    <div class="row">
        <div class="col-md-3">
            <order-info-section>

            </order-info-section>
        </div>
        <div class="col-md-5">
            <order-form-section>

            </order-form-section>
        </div>
        <div class="col-md-4" id="sidebar">
            <basket-section
                    [nextLink]="nextLink"
                    [previousLink]="previousLink">
            </basket-section>
        </div>
    </div>
</div>
