<div [@routerTransition]>
    <h4 class="text-center mb-3">{{ 'Zaloguj się, aby korzystać z Fitruny!' | localize }}</h4>
    <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()" class="margin_top_15">
        <div class="form-group">
            <div class="input-group">
                <input
                        type="text"
                        class="form-control"
                        name="userNameOrEmailAddress"
                        [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                        [placeholder]="'UserNameOrEmail' | localize"
                        required
                        maxlength="256"
                        #userNameOrEmailAddressModel="ngModel"
                        #userNameOrEmailAddressEl
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <abp-validation-summary
                    [control]="userNameOrEmailAddressModel"
                    [controlEl]="userNameOrEmailAddressEl"
            ></abp-validation-summary>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input
                        type="password"
                        class="form-control"
                        name="current"
                        autocomplete="on"
                        [(ngModel)]="authService.authenticateModel.password"
                        [placeholder]="'Password' | localize"
                        required
                        maxlength="32"
                        #passwordModel="ngModel"
                        #passwordEl
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <abp-validation-summary
                    [control]="passwordModel"
                    [controlEl]="passwordEl"
            ></abp-validation-summary>
        </div>
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">Zapamiętaj mnie
                    <input type="checkbox"
                           [(ngModel)]="authService.rememberMe"
                           name="rememberMe"
                           id="rememberMe">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Nie pamiętasz hasła?</a></div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-center">
                <button
                        type="submit"
                        class="btn_1 full-width mb_5"
                        [disabled]="!loginForm.form.valid || submitting"
                >
                    {{ 'Zaloguj' | localize }}
                </button>
            </div>
            <div class="col-md-12 text-center margin_auto">
                <b>
                    Nie masz konta?
                    <a [routerLink]="['../../account/register']">
                        Zarejestruj się
                    </a>
                </b>
            </div>
        </div>
        <div class="divider">
            <span></span>
        </div>
        <div (click)="loginWithFacebook()">
            <a class="social_bt facebook">
                Zaloguj przez Facebook
            </a>
        </div>
<!--        <div (click)="loginWithGoogle()">-->
<!--            <a class="social_bt google add_bottom_15">-->
<!--                Zaloguj przez Google-->
<!--            </a>-->
<!--        </div>-->
    </form>
</div>
