<!--<div class="box_style_2" id="main_menu">-->
<!--    <h2 class="inner">Menu</h2>-->
<!--    <h3 class="nomargin_top" id="starters">Starters</h3>-->
<!--    <p>-->
<!--        Te ferri iisque aliquando pro, posse nonumes efficiantur in cum.-->
<!--        Sensibus reprimique eu pro. Fuisset mentitum deleniti sit ea.-->
<!--    </p>-->
<!--    <table class="table table-striped cart-list" >-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>-->
<!--                Item-->
<!--            </th>-->
<!--            <th>-->
<!--                Price-->
<!--            </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let item of foodItems">-->
<!--            <td>-->
<!--                <figure class="thumb_menu_list">-->
<!--                    <img src="assets/img/menu-thumb-1.jpg" alt="thumb"/>-->
<!--                </figure>-->
<!--                <h5>{{item.name}}</h5>-->
<!--                <p>-->
<!--                    {{item.description}}-->
<!--                </p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <strong>€ {{item.price}}</strong>-->
<!--            </td>-->
<!--            <td class="options">-->
<!--                <items-options-section></items-options-section>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <hr/>-->
<!--</div>-->

<div class="row">
    <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
        <a class="strip_list grid" href="#0">
            <!--                <div class="ribbon_1">Popular</div>-->
            <div class="desc">
                <div class="thumb_strip">
                    <img src="assets/img/breakfast.png" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i
                    ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i><i class="icon_star"></i>
                </div>
                <h3>Standard</h3>
                <div class="type">
                    Zbilansowana dieta, zawierająca w menu składniki pochodzenia zwierzęcego.
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
        <a class="strip_list grid" href="detail_page.html">
            <!--                <div class="ribbon_1">Popular</div>-->
            <div class="desc">
                <div class="thumb_strip">
                    <img src="assets/img/avocado-flat.png" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i
                    ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i><i class="icon_star"></i>
                </div>
                <h3>Vege</h3>
                <div class="type">
                    Zbilansowana dieta, zawierająca produkty tylko pochodzenia roślinnego.
                </div>
            </div>
        </a
        ><!-- End strip_list-->
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.3s">
        <a class="strip_list grid" href="detail_page.html">
            <div class="desc">
                <div class="thumb_strip">
                    <img src="assets/img/meat-flat.png" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i
                    ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i><i class="icon_star"></i>
                </div>
                <h3>Sport</h3>
                <div class="type">
                    Zbilansowane jedzenie dla osób o zwiększonej aktywności fizycznej, o wysokiej zawartości białka.
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.4s">
        <a class="strip_list grid" href="#0">
            <div class="desc">
                <div class="thumb_strip">
                    <img src="assets/img/carrot.png" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i
                    ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i><i class="icon_star"></i>
                </div>
                <h3>Vegan</h3>
                <div class="type">
                    Zbilansowana dieta, zawierająca w menu składniki pochodzenia zwierzęcego.
                </div>
            </div>
        </a>
    </div>
</div>
