<div class="row" id="mainMenuItems">
    <div class="col-md-6 col-sm-6 wow {{wowSlideInDirection()}}" *ngFor="let foodItem of this.itemsService.products$ | async">
        <a class="strip_list grid" (click)="onSubmit(foodItem.name)">
            <div class="desc">
                <div class="thumb_strip">
                    <img src="{{foodItem.imagePath}}" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star"></i>
                </div>
                <h3>{{foodItem.name}}</h3>
                <div class="type">
                    {{foodItem.description}}
                </div>
            </div>
        </a>
    </div>
</div>
