<div class="row">
    <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.05s" *ngFor="let foodItem of foodItems">
        <a class="strip_list grid" (click)="openDialog(foodItem.name, foodItem.nominalPrice)">
            <div class="desc">
                <div class="thumb_strip">
                    <img src="{{foodItem.imgSrc}}" alt=""/>
                </div>
                <div class="rating">
                    <i class="icon_star voted"></i
                    ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i
                ><i class="icon_star voted"></i><i class="icon_star"></i>
                </div>
                <h3>{{foodItem.name}}</h3>
                <div class="type">
                    {{foodItem.description}}
                </div>
            </div>
        </a>
    </div>
</div>
