<h1 mat-dialog-title>
    <span *ngIf="data.name">
    Komponujesz pozycję: {{data.name}}
    </span>
    <span *ngIf="!data.name">
    Wybierz swój zestaw!
    </span>

</h1>
<div mat-dialog-content>
    <form class="box_style_3 min-width-320" [formGroup]="mainForm" novalidate (ngSubmit)="addItem()">
        <div *ngIf="data.NoBasketWithGenericProductSelectionMode">
            <mat-form-field appearance="legacy"
                            style="width: 100%"
                            class="no-padding"
            >
                <mat-label>Produkt</mat-label>
                <mat-select
                        [(ngModel)]="data.productId"
                        formControlName="productId"
                        id="productId"
                        required
                >
                    <mat-option [value]="product.id"
                            *ngFor="let product of this.appSessionService.products$ | async"
                    >{{product.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('productId', 'required')">Pole "Produkt" jest wymagane.</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="data.productId || !data.NoBasketWithGenericProductSelectionMode">
            <mat-form-field appearance="legacy"
                            style="width: 100%"
                            class="no-padding">
                <mat-label>Ilość zestawów</mat-label>
                <input type="number"
                       matInput
                       placeholder="Wpisz ilość zestawów"
                       value="1"
                       [(ngModel)]="data.count"
                       required
                       formControlName="menuCount"
                       class="form-control"
                       name="menuCount"
                       id="menuCount"
                >
                <mat-error *ngIf="hasError('menuCount', 'required')">Pole "Ilość zestawów" jest wymagana.</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="data.productId || !data.NoBasketWithGenericProductSelectionMode">
            <mat-form-field appearance="legacy"
                            style="width: 100%"
                            class="no-padding"
            >
                <mat-label>Kaloryczność</mat-label>
                <mat-select
                        [(ngModel)]="data.caloriesId"
                        required
                        formControlName="caloriesId"
                        id="caloriesId"
                        placeholder="Wybierz kaloryczność"
                >
                    <mat-option
                            [value]="calory.id"
                            *ngFor="let calory of this.appSessionService.calories$ | async"
                    >
                        {{calory.name}}
                        <i class="float-right" *ngIf="calory.additionToPrice > 0">| + {{calory.additionToPrice | suffix:' zł'}}</i>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('caloriesId', 'required')">
                    Pole "kaloryczność" jest wymagane.
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="data.productId || !data.NoBasketWithGenericProductSelectionMode">
            <mat-form-field style="width: 100%"
                            appearance="legacy"
                            class="no-padding"
            >
                <mat-datepicker #resultPicker>
                </mat-datepicker>
                <mat-label>Rozpoczęcie diety</mat-label>
                <input matInput
                       [matDatepicker]="resultPicker"
                       [matDatepickerFilter]="dateFilter"
                       (click)="resultPicker.open()"
                       formControlName="startDate"
                       [value]="mainForm.controls['startDate'].value"
                       name="startDate"
                       id="startDate"
                       [min]="minDate"
                       required
                       autocomplete="off"
                >
                <mat-error *ngIf="hasError('startDate', 'matDatepickerMin')">Musisz zaznaczyć poprawną datę</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="data.productId || !data.NoBasketWithGenericProductSelectionMode">
            <mat-form-field appearance="legacy"
                            style="width: 100%"
                            class="no-padding"
            >
                <mat-label>Długość diety</mat-label>
                <mat-select
                        formControlName="periodLengthInDays"
                        id="periodLengthInDays"
                        required
                        [(value)]="data.periodLengthInDays"
                >
                    <mat-option [value]="period.days"
                                *ngFor="let period of periods"
                    >{{period.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('periodLengthInDays', 'required')">Pole "Długość diety" jest wymagane.</mat-error>
            </mat-form-field>
        </div>

        <div class="divider nomargin_top">
            <span>Dodatkowe informacje</span>
        </div>
        <table class="table table_summary table_small_padding" *ngIf="1">
            <tbody>
            <tr>
                <td>
                    <b>Dieta w weekendy</b>
                    <span class="float-right">
                        <mat-slide-toggle
                                class="float-right"
                                [(ngModel)]="data.weekendsIncluded"
                                formControlName="weekendsIncluded"
                                (ngModelChange)="setPeriods()"
                        >
                        </mat-slide-toggle>
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>Biodegradowalne sztućce</b>
                    <span class="float-right">
                        <mat-slide-toggle
                                class="float-right"
                                [(ngModel)]="data.cutleryIncluded"
                                formControlName="cutleryIncluded">
                        </mat-slide-toggle>
                </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="divider nomargin_top" *ngIf="data.periodLengthInDays && mainForm.valid ">
            <span>Podsumowanie</span>
        </div>
        <table class="table table_summary" *ngIf="data.periodLengthInDays && mainForm.valid">
            <tbody>
            <tr>
                <td>
                    <b>Dni łącznie </b>
                    <span class="float-right">{{data.periodLengthInDays | suffix:' dni'}}</span>
                </td>
            </tr>
            <tr>
                <td><b>Całość</b><span
                        class="float-right">
                    {{appSessionService.getPriceNominalByDialog(data) | number: '1.2-2' | suffix:' zł'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div mat-dialog-actions>
    <button class="btn_full margin_auto"
            [disabled]="!mainForm.valid"
            *ngIf="mainForm.valid"
            type="submit"
            (click)="addItem()"
    >Dodaj do koszyka
    </button>
    <button class="btn_full bg-red margin_auto nomargin_top"
            *ngIf="!mainForm.valid"
            (click)="mainForm.markAllAsTouched()"
            type="submit"
    >Uzupełnij, aby dodać.
    </button>
</div>
