<div class="container margin_60_35" id="about">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="margin_auto col-md-5 wow slideInLeft">
            <h2>O Nas</h2>
            <p>
                Fitruna to dietetyczna, zdrowa żywność pudełkowa na dowóz, która powstała z myślą tworzenia <strong>zdrowego
                nawyku żywieniowego.</strong>
            </p>
            <p>
                Odpowiednia dieta, dobrana do Twoich potrzeb. Pozwól <strong>zadbać o swoje zdrowie </strong> wraz z
                dietetykiem Panem/Panią Mgr Xyz!
            </p>
            <p>
                Dokładamy najwyższych starań, aby do Ciebie trafiła zbilansowana dieta, która składa się
                z <strong>najświeższych</strong> produktów.
            </p>
            <h4>Misja</h4>
            <p>
                Do naszych zestawów wykorzystujemy świeże produkty, najwyższej jakości od lokalnych dostawców.
                <strong>Wpływamy na nasze środowisko.</strong> Współpracujemy z dostawcami, ekspertami blisko Was.
            </p>
        </div>
        <div class="col-md-5 text-right d-none d-lg-block wow slideInRight float-right">
            <img src="assets/img/logos/Fitruna3c.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-1">

        </div>
    </div><!-- End row -->
</div>
