<div class="bg-white">
    <div class="container margin_0_35" id="about">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="margin_auto col-md-5 wow slideInLeft">
                <h2>O Nas</h2>
                <p>
                    Fitruna to dietetyczna, zdrowa żywność pudełkowa na dowóz, która powstała z myślą tworzenia <strong>zdrowego
                    nawyku żywieniowego.</strong>
                </p>
                <p>
                    Odpowiednia dieta, dobrana do Twoich potrzeb. Pozwól <strong>zadbać o swoje zdrowie </strong> wraz z dietetykiem Panem/Panią Mgr Xyz!
                </p>
                <p>
                    Dokładamy najwyższych starań, aby do Ciebie trafiła zbilansowana dieta, która składa się
                    z <strong>najświeższych</strong> produktów.
                </p>
                <h4>Misja</h4>
                <p>
                    Do naszych zestawów wykorzystujemy świeże produkty, najwyższej jakości od lokalnych dostawców.
                    <strong>Wpływamy na nasze środowisko.</strong> Współpracujemy z dostawcami, ekspertami blisko Was.
                </p>
            </div>
            <div class="col-md-5 text-right hidden-sm hidden-xs wow slideInRight float-right">
                <img src="assets/img/logos/Fitruna3c.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1">

            </div>
        </div><!-- End row -->
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 nopadding features-intro-img wow slideInLeft">
                <div class="features-bg">
                    <div class="features-img">
                    </div>
                </div>
            </div>
            <div class="col-md-6 nopadding wow slideInRight">
                <div class="features-content">
                    <h3>Codziennie Pysznie</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                        consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus.
                    </p>
                    <p>
                        Per ea erant aeque corpora, an agam tibique nec. At recusabo expetendis vim. Tractatos principes
                        mel te, dolor solet viderer usu ad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
