<p><a class="btn_side"
      routerLink="/items"
      routerLinkActive="active">Back to main page</a></p>
<div class="box_style_1">
    <ul id="cat_nav">
        <li>
            <a href="#starters" class="active"
            >Starters <span>(141)</span></a
            >
        </li>
        <li>
            <a href="#main_courses">Main Courses <span>(20)</span></a>
        </li>
        <li>
            <a href="#beef">Beef <span>(12)</span></a>
        </li>
        <li>
            <a href="#desserts">Desserts <span>(11)</span></a>
        </li>
        <li>
            <a href="#drinks">Drinks <span>(20)</span></a>
        </li>
    </ul>
</div>
<div class="box_style_2 hidden-xs" id="help">
    <i class="icon_lifesaver"></i>
    <h4>Need <span>Help?</span></h4>
    <a href="tel://004542344599" class="phone">+45 423 445 99</a>
    <small>Monday to Friday 9.00am - 7.30pm</small>
</div>
