<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 wow slideInUp">
                <p>
                    <img
                            src="../../../assets/img/platnosci/pasek_płatności_popularne.png"
                            alt=""
                            class="img-fluid"
                    />
                </p>
            </div>
            <div class="col-md-4 col-sm-4 wow slideInUp" id="newsletter">
                <h3>Newsletter</h3>
                <p>
                    Dołącz do naszego newslettera, a będziemy Cię informować o nowościach.
                </p>
                <form
                        method="post"
                        action="../../../assets/assets/newsletter.php"
                        name="newsletter_2"
                        id="newsletter_2"
                >
                    <div class="form-group">
                        <input
                                name="email_newsletter_2"
                                id="email_newsletter_2"
                                type="email"
                                value=""
                                placeholder="Your mail"
                                class="form-control"
                        />
                    </div>
                    <input
                            type="submit"
                            value="Subksrybuj"
                            class="btn_1"
                            id="submit-newsletter_2"
                    />
                </form>
            </div>

        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-12 wow slideInUp">
                <div id="social_footer">
                    <p>
                        <a href="javascript:;">Fitruna Dieta Pudełkowa</a>. &copy;
                        {{ currentYear }}
                    </p>
                    <ul>
                        <li>
                            <a class="home_header_button icon-facebook"
                               href="https://www.facebook.com/fitruna">
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-instagram"
                               href="https://www.instagram.com/fitruna">
                            </a>
                        </li>
                        <li>
                            <a class="home_header_button icon-youtube"
                               href="https://www.youtube.com/fitruna">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="layer"></div>
