<form
  class="form-horizontal"
  autocomplete="off"
  #editPaymentForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edytuj' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="paymentName">
                {{ 'Nazwa' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="text"
                        class="form-control"
                        name="paymentName"
                        id="paymentName"
                        minlength="2"
                        required
                        [(ngModel)]="payment.transactionId"
                        #paymentNameModel="ngModel"
                        #paymentNameEl
                />
                <abp-validation-summary
                        [control]="paymentNameModel"
                        [controlEl]="paymentNameEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="paymentDescription">
                {{ 'Opis' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="text"
                        class="form-control"
                        name="paymentDescription"
                        id="paymentDescription"
                        minlength="2"
                        required
                        [(ngModel)]="payment.paymentProvider"
                        #paymentDescriptionModel="ngModel"
                        #paymentDescriptionEl
                />
                <abp-validation-summary
                        [control]="paymentDescriptionModel"
                        [controlEl]="paymentDescriptionEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="paymentNetto">
                {{ 'Płatność Netto' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="number"
                        class="form-control"
                        name="paymentNetto"
                        id="paymentNetto"
                        required
                        [(ngModel)]="payment.valuePaid"
                        #paymentNettoModel="ngModel"
                        #paymentNettoEl
                />
                <abp-validation-summary
                        [control]="paymentNettoModel"
                        [controlEl]="paymentNettoEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="paymentBrutto">
                {{ 'Płatność Brutto' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="number"
                        class="form-control"
                        name="paymentBrutto"
                        id="paymentBrutto"
                        [(ngModel)]="payment.valueGrossPaid"
                        #paymentBruttoModel="ngModel"
                        #paymentBruttoEl
                />
                <abp-validation-summary
                        [control]="paymentBruttoModel"
                        [controlEl]="paymentBruttoEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="paymentTax">
                {{ 'Płatność VAT' | localize }}
            </label>
            <div class="col-md-9">
                <input
                        type="number"
                        class="form-control"
                        name="paymentTax"
                        id="paymentTax"
                        required
                        [(ngModel)]="payment.taxPaid"
                        #paymentTaxModel="ngModel"
                        #paymentTaxEl
                />
                <abp-validation-summary
                        [control]="paymentTaxModel"
                        [controlEl]="paymentTaxEl"
                ></abp-validation-summary>
            </div>
        </div>
    </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editPaymentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
