<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding features-intro-img wow slideInLeft">
            <div class="features-bg">
                <div class="features-img">
                </div>
            </div>
        </div>
        <div class="col-md-6 nopadding wow slideInRight">
            <div class="features-content">
                <h3>Zaufaj specjalistom!</h3>
                <p>
                    Diety układane są przez Mgr Xyz. Współpracuje z nami od października 2020.
                    Absolwent/ka Uniwersytetu Adama Mickiewicza w Poznaniu. Zwyciężczyni Nagrody RUNAFIT 2020.
                    Prowadzi własną praktykę: ABC Company. Kilka słow o sobie:
                </p>
                <p>
                    Głównym celem poradni jest modyfikacja nawyków żywieniowych i dostosowanie ich do Twoich potrzeb i
                    stanu zdrowia.
                    Zalecenia żywieniowe oraz indywidualny jadłospis dostosowane są do występujących chorób, zaleceń
                    lekarza, stylu życia oraz preferencji smakowych.
                </p>
                <p>
                <p class="center-buttons">
                    <a
                            href="javascript:void(0);"
                            style="cursor: pointer;"
                            class="button_intro outline center-button-right">
                        Więcej informacji
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
