<div class="container margin_60">
  <div class="main_title">
    <h2 class="nomargin_top" style="padding-top: 0;">Mapa dostaw</h2>
    <p>Gdzie dostarczamy?</p>
    <div class="row">
      <div class="col text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-danger">Piła</button>
          <button type="button" class="btn btn-outline-danger">Wałcz</button>
          <button type="button" class="btn btn-outline-danger">Chodzież</button>
          <button type="button" class="btn btn-outline-danger">
            Trzcianka
          </button>
          <button type="button" class="btn btn-outline-danger">Ujście</button>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
