<div class="theiaStickySidebar wow slideInRight">
    <div id="cart_box">
        <h3>Twój koszyk <i class="icon_cart_alt float-right"></i></h3>
        <div *ngIf="basket.items.length > 0">
            <label>Produkty</label>
            <table class="table table_summary center">
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Ilość
                    </th>
                    <th>
                        Zestaw
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Kcal
                    </th>
                    <th>
                        Okres
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of basket.items">
                    <td><a (click)="basketService.remove(item.name, item.quantity, item.calories)"
                           class="remove_item">
                        <i class="icon_trash_alt"></i>
                    </a></td>
                    <td>
                        <strong>{{ item.quantity }}x</strong>
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        <strong>{{ item.priceNominal }}</strong>
                    </td>
                    <td>
                        {{ item.calories}}
                    </td>
                    <td>
                        {{ item.datesTableSummary }}
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
        </div>

        <div>

            <label>Kalendarz</label>
            <mat-calendar #calendar
                          (selectedChange)="select($event,calendar)"
                          [dateClass]="isSelected"
                          [dateFilter]="dateFilter">
            </mat-calendar>

            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <hr/>
        </div>
        <table class="table table_summary">
            <tbody>
            <tr>
                <td>Wartość zamówienia <span
                        class="float-right">{{basket.nominalPriceSummary}} {{basket.currency}}</span></td>
            </tr>
            <tr>
                <td>Dostawa <span class="float-right">{{basket.deliveryFeeSummary}} {{basket.currency}}</span></td>
            </tr>
            <tr *ngIf="basket.discountsSummary >0">
                <td class="discount ">
                    <i class="icon_star"></i>
                    OSZCZĘDZASZ <span class="float-right">{{basket.discountsSummary}} {{basket.currency}}</span>
                </td>
            </tr>
            <tr>
                <td class="total">
                    SUMA <span class="float-right">{{basket.priceSummary}} {{basket.currency}}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <a class="btn_full"
           routerLink="{{nextLink}}"
           routerLinkActive="active"
           [ngStyle]="{'backgroundColor': basketService.any() === true ? '#ec008c' : '#555' }"
        >PRZEJDŹ DALEJ</a>
        <a *ngIf="previousLinkExists"
           class="btn_full_outline "
           routerLink="/{{previousLink}}"
           routerLinkActive="active"
        ><i class="icon-right"></i> DODAJ PRZEDMIOTY</a
        >
    </div>
</div>
