<section
        class="parallax-window"
        id="short"
        data-parallax="scroll"
        data-image-src="img/sub_header_cart.jpg"
        data-natural-width="1400"
        data-natural-height="350"
>
    <div id="subheader">
        <div id="sub_content">
            <h1 class="wow fadeIn">{{header}}</h1>
            <div class="bs-wizard row">
                <div class="bs-wizard-step col-3 {{headerStepItem.step}} wow fadeIn"
                     *ngFor="let headerStepItem of headerStepItem">
                    <div class="text-center bs-wizard-stepnum">
                        <strong>{{headerStepItem.counter}}.</strong> {{headerStepItem.description}}
                    </div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a routerLink="{{headerStepItem.routerLink}}"
                       routerLinkActive="active"
                       class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
    </div>
</section>
