<section
        class="parallax-window"
        id="home"
        data-parallax="scroll"
>
    <div id="subheader">
        <div id="sub_content">
            <div class="wow zoomIn">
                <h1>
                    {{header.title}}
                </h1>
                <p style="color: whitesmoke">
                    <i>{{header.description}}</i>
                </p>
                <form>
                    <div id="custom-search-input">
                        <div class="input-group">
                            <p class="center-buttons">
                                <a routerLink="/items"
                                   routerLinkActive="active"
                                   queryParamsHandling="preserve"
                                   class="button_intro center-button-left">
                                    Diety
                                </a>
                                <a
                                    (click)="scroll(faqSectionId)"
                                    href="javascript:void(0);"
                                    style="cursor: pointer;"
                                    class="button_intro outline center-button-right">
                                    Więcej informacji
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div id="count" class="hidden-xs">
                <ul>
                    <li *ngFor="let city of deliverableCities">
                        <div class="d-none d-md-block wow zoomIn">
                            {{city.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
