<section
        class="parallax-window"
        id="home"
        data-parallax="scroll"
>
    <div id="subheader">
        <div id="sub_content">
            <div class="wow zoomIn">
                <h1>{{header.title}}</h1>
                <p>
                    {{header.description}}
                </p>
                <form>
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input
                                    class="search-query"
                                    placeholder="Podaj adres dostawy"
                            />
                            <span class="input-group-btn">
                                <input type="submit" class="btn_search" value="submit"/>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div id="count" class="hidden-xs">
                <ul>
                    <li *ngFor="let city of deliverableCities">
                        <button type="button" class="btn btn-outline-light number2 wow zoomIn">
                            {{city.name}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
