@mixin center-button{
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 60px;
  padding-right: 60px;
}

.center-button-left{
  @include center-button();
}

.center-button-right{
  @include center-button();
  padding-left: 40px;
  padding-right: 40px;
}

.center-buttons {
    margin: auto
}
