<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>Obsługujemy płatności</h3>
        <p>
          <img
            src="../../../assets/img/platnosci.png"
            alt=""
            class="img-responsive"
          />
        </p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Mapa</h3>
        <ul>
          <li><a href="about.html">Gdzie dowozimy?</a></li>
          <li><a href="faq.html">Diety</a></li>
          <li><a href="faq.html">O nas</a></li>
          <li><a href="contacts.html">Kontakt</a></li>
          <li><a href="#0">Regulamin</a></li>
          <li><a href="/app/admin/home">Panel Administratora</a></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5" id="newsletter">
        <h3>Newsletter</h3>
        <p>
          Dołącz do naszego newslettera, a będziemy Cię informować o nowościach.
        </p>
        <form
          method="post"
          action="../../../assets/assets/newsletter.php"
          name="newsletter_2"
          id="newsletter_2"
        >
          <div class="form-group">
            <input
              name="email_newsletter_2"
              id="email_newsletter_2"
              type="email"
              value=""
              placeholder="Your mail"
              class="form-control"
            />
          </div>
          <input
            type="submit"
            value="Subksrybuj"
            class="btn_1"
            id="submit-newsletter_2"
          />
        </form>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <p>
            <a href="javascript:;">N&R Dieta Pudełkowa</a>. &copy;
            {{ currentYear }}
          </p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
