<div class="box_style_2 hidden-xs info wow slideInLeft">
    <h4 class="nomargin_top">
        {{firstBadge.title}}
        <i class="{{firstBadge.icon}} pull-right"></i>
    </h4>
    <p>
        {{firstBadge.description}}
    </p>
    <hr/>
    <h4 >
        {{secondBadge.title}}
        <i class="{{secondBadge.icon}} pull-right"></i>
    </h4>
    <p>
        {{secondBadge.description}}
    </p>
</div>

<div class="box_style_2 hidden-xs wow slideInLeft" id="help">
    <i class="icon_lifesaver"></i>
    <h4>Potrzebna <span>Pomoc?</span></h4>
    <a href="tel://004542344599" class="phone">+48 516 237 849</a>
    <small>Poniedziałek - Piątek 9:00 - 22:00</small>
</div>
