<section
        class="parallax-window"
        data-parallax="scroll"
        data-image-src="assets/img/sub_header_2.jpg"
        data-natural-width="1400"
        data-natural-height="470"
>
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="assets/img/thumb_restaurant.jpg" alt=""/></div>
            <div class="rating">
                <i class="icon_star voted"></i><i class="icon_star voted"></i
            ><i class="icon_star voted"></i><i class="icon_star voted"></i
            ><i class="icon_star"></i> (<small
            ><a href="detail_page_2.html">Read 98 reviews</a></small
            >)
            </div>
            <h1>Mexican TacoMex</h1>
            <div><em>Mexican / American</em></div>
            <div>
                <i class="icon_pin"></i> 135 Newtownards Road, Belfast, BT4 1AB -
                <strong>Delivery charge:</strong> $10, free over $15.
            </div>
        </div>
    </div>
</section>
